:root {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 18px;
    color: white;
}

body {
    background-color: #292929;
    display: flexbox;
    position: relative;
    overflow-x: hidden;
}

@keyframes slideInFromLeft {
    from { margin-left: 160rem};
    to { margin-left: 10rem};
}

@keyframes slideOutToRight {
    from { margin-left: -10rem};
    to { margin-left: -160rem;}
}

@keyframes fadeOutText {
    from { color: rgb(192, 192, 192) };
    to { color: #292929 };
}


#welcome {
    margin-top: 5rem;
    margin-left: -160rem;
    height: 20rem;
    width: 100%;
    border: 1px dashed #292929;
    animation-name: slideOutToRight;
    animation-duration: 8s;
}

#welcomeText {
    font-size: 8rem;
    margin-top: 5rem;
    margin-right: 10rem;
    text-align: right;
    animation-name: fadeOutText;
    animation-duration: 4s;
    color: #292929;
}

#introduction {
    position: absolute;
    top: 10rem;
    display: grid;
    grid-template-columns: 15rem 35rem 15rem 15rem 15rem;
    grid-template-rows: auto;
    margin-left: 10rem;
    height: 20rem;
    width: 100%;
    border: 1px dashed #292929;
    animation-name: slideInFromLeft;
    animation-duration: 4s;
}

#introImage {
    display: block;
    height: 20rem;
    width: 15rem;
    border: 1px dashed #292929;
}

#introductionText {
    display: inline-block;
    line-height: 1.2rem;
    height: 15rem;
    width: 25rem;
    margin-top: 4.5rem;
    margin-left: 5rem;
}

#introImage {
    background-image: url("img/devIcon.svg");
    background-repeat: no-repeat;
    background-size: 15rem 20rem;
}

.linkBTN {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 8rem;
    text-align: center;
    height: 10rem;
    width: 15rem;

}

.linkBTN:hover {

}

.linkIcon {
    background-repeat: no-repeat;
    background-size: 15rem 20rem;
}

#projectsLinkBTN {
    background-image: url("img/projectsIcon.svg");
    background-size: 15rem 20rem;
    background-repeat: no-repeat;
    opacity: 0.75;
}

#projectsLinkBTN:hover {
    background-size: 15rem 18rem;
    opacity: 1;
}

#aboutLinkBTN {
    background-image: url("img/aboutIcon.svg");
    background-size: 15rem 20rem;
    background-repeat: no-repeat;
    opacity: 0.75;
}

#aboutLinkBTN:hover {
    background-size: 15rem 18rem;
    opacity: 1;
}

#connectLinkBTN {
    background-image: url("img/connectIcon2.svg");
    background-size: 15rem 20rem;
    background-repeat: no-repeat;
    opacity: 0.75;
}

#connectLinkBTN:hover {
    background-size: 15rem 18rem;
    opacity: 1;
}